In [75]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("spark-python").getOrCreate()

df = spark.createDataFrame(
    [
        ['zhang3', 18, 65.5, '高中'],
        ['li4',19, 50.2, '本科'],
        ['wang5', 20,61.2, '本科'],
        ['zhao6', 21, 50.8, '本科'],
        ['zheng7', 22, 77.2, '硕士'],
        ['zhou8',22, 80.7, '硕士'],
    ], schema=['姓名','年龄','体重','学历']
)
#制造几个空值
df2 = spark.createDataFrame(
    [
        ['zhang3', 18, 65.5, '高中'],
        ['li4',19, 50.3, '本科'],
        ['wang5', 20,None, '本科'],
        ['zhao6', 21, None, None],
        ['zheng7', 22, 77.2, None],
        ['zhou8',22, 80.7, '硕士'],
    ], schema=['姓名','年龄','体重','学历']
)
#把姓名改成age，下面会用到
df3 = spark.createDataFrame(
    [
        ['zhang3', 18, 65.5, '高中'],
        ['li4',19, 50.2, '本科'],
        ['wang5', 20,61.2, '本科'],
        ['zhao6', 21, 50.8, '本科'],
        ['zheng7', 22, 77.2, '硕士'],
        ['zhou8',22, 80.7, '硕士'],
    ], schema=['姓名','age','体重','学历']
)
#设置重复值
df4 = spark.createDataFrame(
    [
        ['zhang3', 18, 65.5, '高中'],
        ['li4',19, 50.2, '本科'],
        ['li4',19, 50.2, '本科']
    ], schema=['姓名','age','体重','学历']
)
df.show()
df2.show()
df3.show()
df4.show()

+------+----+----+----+
|  姓名|年龄|体重|学历|
+------+----+----+----+
|zhang3|  18|65.5|高中|
|   li4|  19|50.2|本科|
| wang5|  20|61.2|本科|
| zhao6|  21|50.8|本科|
|zheng7|  22|77.2|硕士|
| zhou8|  22|80.7|硕士|
+------+----+----+----+

+------+----+----+----+
|  姓名|年龄|体重|学历|
+------+----+----+----+
|zhang3|  18|65.5|高中|
|   li4|  19|50.3|本科|
| wang5|  20|null|本科|
| zhao6|  21|null|null|
|zheng7|  22|77.2|null|
| zhou8|  22|80.7|硕士|
+------+----+----+----+

+------+---+----+----+
|  姓名|age|体重|学历|
+------+---+----+----+
|zhang3| 18|65.5|高中|
|   li4| 19|50.2|本科|
| wang5| 20|61.2|本科|
| zhao6| 21|50.8|本科|
|zheng7| 22|77.2|硕士|
| zhou8| 22|80.7|硕士|
+------+---+----+----+

+------+---+----+----+
|  姓名|age|体重|学历|
+------+---+----+----+
|zhang3| 18|65.5|高中|
|   li4| 19|50.2|本科|
|   li4| 19|50.2|本科|
+------+---+----+----+

In [76]:
#缺失值填充
df2.na.fill({'体重': 50.2, '学历': '本科'}).show()

+------+----+----+----+
|  姓名|年龄|体重|学历|
+------+----+----+----+
|zhang3|  18|65.5|高中|
|   li4|  19|50.3|本科|
| wang5|  20|50.2|本科|
| zhao6|  21|50.2|本科|
|zheng7|  22|77.2|本科|
| zhou8|  22|80.7|硕士|
+------+----+----+----+

In [77]:
# 1.查看字段类型
df.dtypes

[('姓名', 'string'), ('年龄', 'bigint'), ('体重', 'double'), ('学历', 'string')]

In [78]:
# 2.查看列名
df.columns, len(df.columns)

(['姓名', '年龄', '体重', '学历'], 4)

In [79]:
# 3.查看行数
df.count()

6

In [80]:
# 4.重命名列名
df.withColumnRenamed('姓名','name')

DataFrame[name: string, 年龄: bigint, 体重: double, 学历: string]

In [81]:
# 5.选择和切片

In [82]:
df.printSchema()

root
 |-- 姓名: string (nullable = true)
 |-- 年龄: long (nullable = true)
 |-- 体重: double (nullable = true)
 |-- 学历: string (nullable = true)

In [83]:
# 选择列（select）
df.select('年龄') #单列
df.select('年龄','学历') #两列
df.select(df.年龄,df.学历) #两列

DataFrame[年龄: bigint, 学历: string]

In [84]:
# 选择行（filter或where）
df.filter(df.年龄>19)
df.where(df.年龄.between(19,21)) #闭区间

DataFrame[姓名: string, 年龄: bigint, 体重: double, 学历: string]

In [85]:
# 选择列+行
df.select('年龄','学历').where(df.年龄.between(19,21))#闭区间

DataFrame[年龄: bigint, 学历: string]

In [86]:
df.show()

+------+----+----+----+
|  姓名|年龄|体重|学历|
+------+----+----+----+
|zhang3|  18|65.5|高中|
|   li4|  19|50.2|本科|
| wang5|  20|61.2|本科|
| zhao6|  21|50.8|本科|
|zheng7|  22|77.2|硕士|
| zhou8|  22|80.7|硕士|
+------+----+----+----+

In [87]:
# 以上的方式，也可以用sql来选择
df3.registerTempTable('person')
spark.sql('select age,"学历" from person where "年龄">19') #英文不需要加双引号

DataFrame[age: bigint, 学历: string]

In [88]:
df.collect()

[Row(姓名='zhang3', 年龄=18, 体重=65.5, 学历='高中'),
 Row(姓名='li4', 年龄=19, 体重=50.2, 学历='本科'),
 Row(姓名='wang5', 年龄=20, 体重=61.2, 学历='本科'),
 Row(姓名='zhao6', 年龄=21, 体重=50.8, 学历='本科'),
 Row(姓名='zheng7', 年龄=22, 体重=77.2, 学历='硕士'),
 Row(姓名='zhou8', 年龄=22, 体重=80.7, 学历='硕士')]

In [89]:
# 排序orderBy或sort
df.orderBy(df.年龄.desc()).show()

+------+----+----+----+
|  姓名|年龄|体重|学历|
+------+----+----+----+
| zhou8|  22|80.7|硕士|
|zheng7|  22|77.2|硕士|
| zhao6|  21|50.8|本科|
| wang5|  20|61.2|本科|
|   li4|  19|50.2|本科|
|zhang3|  18|65.5|高中|
+------+----+----+----+

In [90]:
df.sort(df.年龄.desc()).show()

+------+----+----+----+
|  姓名|年龄|体重|学历|
+------+----+----+----+
| zhou8|  22|80.7|硕士|
|zheng7|  22|77.2|硕士|
| zhao6|  21|50.8|本科|
| wang5|  20|61.2|本科|
|   li4|  19|50.2|本科|
|zhang3|  18|65.5|高中|
+------+----+----+----+

In [91]:
df.orderBy('年龄',ascending=True).show()

+------+----+----+----+
|  姓名|年龄|体重|学历|
+------+----+----+----+
|zhang3|  18|65.5|高中|
|   li4|  19|50.2|本科|
| wang5|  20|61.2|本科|
| zhao6|  21|50.8|本科|
|zheng7|  22|77.2|硕士|
| zhou8|  22|80.7|硕士|
+------+----+----+----+

In [92]:
df.sort('年龄',ascending=True).show()

+------+----+----+----+
|  姓名|年龄|体重|学历|
+------+----+----+----+
|zhang3|  18|65.5|高中|
|   li4|  19|50.2|本科|
| wang5|  20|61.2|本科|
| zhao6|  21|50.8|本科|
|zheng7|  22|77.2|硕士|
| zhou8|  22|80.7|硕士|
+------+----+----+----+

In [93]:
# 增加列
from pyspark.sql.functions import lit
# df.withColumn('薪水',0)
df.withColumn('薪水',lit(0)).show() # 新增加的列需要用lit赋值 scala已修改

+------+----+----+----+----+
|  姓名|年龄|体重|学历|薪水|
+------+----+----+----+----+
|zhang3|  18|65.5|高中|   0|
|   li4|  19|50.2|本科|   0|
| wang5|  20|61.2|本科|   0|
| zhao6|  21|50.8|本科|   0|
|zheng7|  22|77.2|硕士|   0|
| zhou8|  22|80.7|硕士|   0|
+------+----+----+----+----+

In [94]:
df.withColumn('年龄2',df['年龄']-2).show() #新增加的列可以通过另外一列的运算得到
df.withColumn('年龄2',df.年龄-2).show() #新增加的列可以通过另外一列的运算得到

+------+----+----+----+-----+
|  姓名|年龄|体重|学历|年龄2|
+------+----+----+----+-----+
|zhang3|  18|65.5|高中|   16|
|   li4|  19|50.2|本科|   17|
| wang5|  20|61.2|本科|   18|
| zhao6|  21|50.8|本科|   19|
|zheng7|  22|77.2|硕士|   20|
| zhou8|  22|80.7|硕士|   20|
+------+----+----+----+-----+

+------+----+----+----+-----+
|  姓名|年龄|体重|学历|年龄2|
+------+----+----+----+-----+
|zhang3|  18|65.5|高中|   16|
|   li4|  19|50.2|本科|   17|
| wang5|  20|61.2|本科|   18|
| zhao6|  21|50.8|本科|   19|
|zheng7|  22|77.2|硕士|   20|
| zhou8|  22|80.7|硕士|   20|
+------+----+----+----+-----+

In [95]:
df3.registerTempTable('person')
spark.sql('select *,age-2 as age2 from person').show() #中文列名好像不支持，英文可以

+------+---+----+----+----+
|  姓名|age|体重|学历|age2|
+------+---+----+----+----+
|zhang3| 18|65.5|高中|  16|
|   li4| 19|50.2|本科|  17|
| wang5| 20|61.2|本科|  18|
| zhao6| 21|50.8|本科|  19|
|zheng7| 22|77.2|硕士|  20|
| zhou8| 22|80.7|硕士|  20|
+------+---+----+----+----+

In [96]:
import random
df.withColumn('rand', lit(random.random() * 3)).show()

+------+----+----+----+------------------+
|  姓名|年龄|体重|学历|              rand|
+------+----+----+----+------------------+
|zhang3|  18|65.5|高中|2.0339167946307284|
|   li4|  19|50.2|本科|2.0339167946307284|
| wang5|  20|61.2|本科|2.0339167946307284|
| zhao6|  21|50.8|本科|2.0339167946307284|
|zheng7|  22|77.2|硕士|2.0339167946307284|
| zhou8|  22|80.7|硕士|2.0339167946307284|
+------+----+----+----+------------------+

In [97]:
# cast把一列转换数据类型
df = df.withColumn("年龄2", df["年龄"].cast("int"))
df

DataFrame[姓名: string, 年龄: bigint, 体重: double, 学历: string, 年龄2: int]

In [26]:
# 填充空值
df2.fillna('本科', subset=['学历']).show()
#df2.na.fill('本科', subset=['学历']) 和上面等价

+------+----+----+----+
|  姓名|年龄|体重|学历|
+------+----+----+----+
|zhang3|  18|65.5|高中|
|   li4|  19|50.3|本科|
| wang5|  20|null|本科|
| zhao6|  21|null|本科|
|zheng7|  22|77.2|本科|
| zhou8|  22|80.7|硕士|
+------+----+----+----+

In [98]:
#求平均值
import pyspark.sql.functions as fn
df.select(fn.mean('年龄')).show()

#对age去平均值
# df.select(fn.mean('年龄'))和df.agg({"age":"avg"})等价

#查看众数
df.groupby('学历').count().sort('count',ascending=False).show()
df.groupby('学历').count().sort('count',ascending=False).agg({"count":"max"}).show()

+------------------+
|         avg(年龄)|
+------------------+
|20.333333333333332|
+------------------+

+----+-----+
|学历|count|
+----+-----+
|本科|    3|
|硕士|    2|
|高中|    1|
+----+-----+

+----------+
|max(count)|
+----------+
|         3|
+----------+

In [100]:
df.agg({"年龄":"avg"}).show()
df.agg({"年龄":"sum"}).show()

+------------------+
|         avg(年龄)|
+------------------+
|20.333333333333332|
+------------------+

+---------+
|sum(年龄)|
+---------+
|      122|
+---------+

In [101]:
df2.show()

+------+----+----+----+
|  姓名|年龄|体重|学历|
+------+----+----+----+
|zhang3|  18|65.5|高中|
|   li4|  19|50.3|本科|
| wang5|  20|null|本科|
| zhao6|  21|null|null|
|zheng7|  22|77.2|null|
| zhou8|  22|80.7|硕士|
+------+----+----+----+

In [103]:
# 删除 
# 删除列
df.drop('年龄').show()
# 删除含有空值的数据
df2.dropna().show() #只要含有空值的行，全部删除
#df2.na.drop() 和上面等价
df2.dropna(thresh=3).show() #非空值的值个数<3个删除
# 删除行（where/filter）

+------+----+----+-----+
|  姓名|体重|学历|年龄2|
+------+----+----+-----+
|zhang3|65.5|高中|   18|
|   li4|50.2|本科|   19|
| wang5|61.2|本科|   20|
| zhao6|50.8|本科|   21|
|zheng7|77.2|硕士|   22|
| zhou8|80.7|硕士|   22|
+------+----+----+-----+

+------+----+----+----+
|  姓名|年龄|体重|学历|
+------+----+----+----+
|zhang3|  18|65.5|高中|
|   li4|  19|50.3|本科|
| zhou8|  22|80.7|硕士|
+------+----+----+----+

+------+----+----+----+
|  姓名|年龄|体重|学历|
+------+----+----+----+
|zhang3|  18|65.5|高中|
|   li4|  19|50.3|本科|
| wang5|  20|null|本科|
|zheng7|  22|77.2|null|
| zhou8|  22|80.7|硕士|
+------+----+----+----+

In [104]:
#删除重复值
df4.drop_duplicates().show()

+------+---+----+----+
|  姓名|age|体重|学历|
+------+---+----+----+
|zhang3| 18|65.5|高中|
|   li4| 19|50.2|本科|
+------+---+----+----+

In [105]:
# 求每一列的缺失值比例
# 星号表示把后面的列表拆分成多个参数，分别传入函数
df2.agg(*[(1-fn.count(C) / fn.count('*')).alias(C) for C in df2.columns]).show()

+----+----+-------------------+-------------------+
|姓名|年龄|               体重|               学历|
+----+----+-------------------+-------------------+
| 0.0| 0.0|0.33333333333333337|0.33333333333333337|
+----+----+-------------------+-------------------+

In [108]:
a = spark.createDataFrame(
    [
        ['zhang3', 18, 65.5, '高中'],
        ['li4',19, 50.2, '本科'],
        ['wang5', 20,61.2, '本科']
    ], schema=['姓名','年龄','体重','学历']
)
b = spark.createDataFrame(
    [
        ['zhang3', '未婚'],
        ['li4','未婚'],
        ['zhao6', '未婚']
    ], schema=['姓名','婚姻']
)

df_join = a.join(b, a.姓名 == b.姓名, "inner")
df_join.show()

+------+----+----+----+------+----+
|  姓名|年龄|体重|学历|  姓名|婚姻|
+------+----+----+----+------+----+
|zhang3|  18|65.5|高中|zhang3|未婚|
|   li4|  19|50.2|本科|   li4|未婚|
+------+----+----+----+------+----+

In [109]:
a = spark.createDataFrame(
    [
        ['zhang3', 18, 65.5, '高中'],
        ['li4',19, 50.2, '本科'],
        ['wang5', 20,61.2, '本科']
    ], schema=['姓名','年龄','体重','学历']
)
b = spark.createDataFrame(
    [
        ['zhang3', '未婚','本科'],
        ['li4','未婚','本科'],
        ['zhao6', '未婚','高中']
    ], schema=['姓名','婚姻','学历']
)
a.join(b, [a.姓名 == b.姓名,a.学历==b.学历], "inner").show()

+----+----+----+----+----+----+----+
|姓名|年龄|体重|学历|姓名|婚姻|学历|
+----+----+----+----+----+----+----+
| li4|  19|50.2|本科| li4|未婚|本科|
+----+----+----+----+----+----+----+

In [110]:
groupedData = df.groupBy("学历")
groupedData

In [111]:
groupedData.avg().show()

+----+---------+-----------------+----------+
|学历|avg(年龄)|        avg(体重)|avg(年龄2)|
+----+---------+-----------------+----------+
|高中|     18.0|             65.5|      18.0|
|硕士|     22.0|            78.95|      22.0|
|本科|     20.0|54.06666666666666|      20.0|
+----+---------+-----------------+----------+

In [112]:
groupedData.avg('年龄').show()

+----+---------+
|学历|avg(年龄)|
+----+---------+
|高中|     18.0|
|硕士|     22.0|
|本科|     20.0|
+----+---------+